.add-task {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: #fff;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px #000029;
	margin: 10px;
	padding: 12px 12px 12px 12px;
	width: 300px;
	min-height: 328px;
}

.add-task-name {
	border: 1px solid #a9a9a9;
	border-radius: 4px;
	box-sizing: border-box; 
	font-size: 14px;
	margin: 0px 50px 5px 50px;
	padding: 10px 10px 10px 10px;
	width: 90%;
}

.add-task-description {
	border: 1px solid #a9a9a9;
	border-radius: 4px;
	box-sizing: border-box; 
	margin: 0px 50px 5px 50px;
	padding: 10px 10px 10px 10px;
	resize: none;
	width: 90%;
}

.add-task-repeat {
	margin: 0px 50px 5px 50px;
	width: 90%;
}

.add-task-repeat > .Select-control {
	border: 1px solid #a9a9a9;
}


.add-task-goals {
	width: 90%;
	margin: 0px 50px 5px 50px;
}
.add-task-goals > .Select-control {
	border: 1px solid #a9a9a9;
}

.add-task-difficulty {
	margin: 5px;
}

.add-task-submit {
	height: 40px;
	background-color: #3498db;
	border: none;
	border-radius: 20px;
	color: #fff;
	font-weight: 600;
	line-height: 200%;
	margin: 5px;
	padding: 0 35px;
	text-align: center;
	text-transform: uppercase;
}
.add-task-submit:hover {
	background-color: #1b7fc2;
	cursor: pointer;
}

.add-task-submit:focus {
	outline: none;
}

.add-task-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.task-name-span{
	align-self: flex-start;
	position: relative;
	left: 15px;
	font-size: 14px;
	font-weight: 700;

}

.task-description-span {
	align-self: flex-start;
	position: relative;
	left: 15px;
	font-size: 14px;
	font-weight: 700;
}

.task-difficulty-span {
	position: relative;
	top: 3px;
	font-size: 14px;
	font-weight: 700;
}

.task-repeat-span {
	align-self: flex-start;
	position: relative;
	left: 15px;
	font-size: 14px;
	font-weight: 700;
}

.select-goals-span {
	align-self: flex-start;
	position: relative;
	left: 15px;
	font-size: 14px;
	font-weight: 700;
}

