body {
  background-color: #008adb;
  margin: 0;
  padding: 0;
  font-family: Helvitica Neue, Helvetica, Arial, sans-serif;
  
}

.navbar {
	background-color: #005a8f;
	padding: 15px 0px;
}

.navbar > section {
	width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width: 1200px) {
	header > section {
		box-sizing: border-box;
		max-width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}
}

.logo {
	color: white;
	float: left;
	font-weight: 600;
	line-height: 1.6;
}

.navbar nav {
	float: right;
}


@media screen and (max-width: 800px) {
	.navbar nav {
		float: none;
		clear: left;
	}
}

.navbar nav a {
	color: #FFFFFF;
	line-height: 1.6;
	margin-left: 20px;
	text-decoration: none;

}
@media screen and (max-width: 800px) {
	.navbar nav a:first-child {
		margin-left: 0px;
	}
}

.spacer {
	clear: both;
}